.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #b46419;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 3;
}

.Toolbar nav {
  height: 100%;
}

.Toolbar img {
  height: 40px;
  width: 40px;
}

.Hamburger {
  display: none;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }

  .Hamburger {
    display: inline;
  }
}
